.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    padding: 1rem;  
    height: auto;  
  }
  
  .logo__kiiex {
    width: 8rem;  
    height: auto;
    margin-top: 1rem;  
    margin-bottom: 2.5rem;
  }
 
  .title__header {
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    color:white; 
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle__header {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white; 
    font-weight: normal;
    margin-bottom: 3.5rem;
  }